.header__dashboard {
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-right: 3rem;
  font-size: 1.7rem;
}

.header__dashboard:hover {
  color: #222;
  font-weight: bold;
  text-decoration: none;
}

.auth-dropdown {
  margin: 0 6rem 0 9rem;
  font-family: 'Pattaya', sans-serif;
}

.drop-btn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 2px;
}

.drop-item {
  padding: 1rem 2rem;
  border-bottom: 1px solid #777;
  letter-spacing: 2px;
}


.drop-item:hover {
  background-color: #ccc;
}

.auth-menu {
  text-align: center;
  font-size: 1.5rem;
  background-color: whitesmoke;
  padding: 0;
}
